@import "variables.scss";

/** --Our Members-- */

.members {
  background: $even;
  padding-top: 2.2222rem;
  padding-bottom: 2.2222rem;
}

.our-members {
  .slick-list {
    margin: 2.2222rem 0;

    .slick__slide {
      height: 5rem;
      position: relative;

      img {
        max-width: 9rem;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        left: 50%;
        max-height: 100%;
        position: absolute;
        top: 2.51111rem;
        width: auto;
      }

    }
  }
  .slick__arrow {
    .slick-prev {
      background: url(../images/arrow-left.png) no-repeat center center;
      background-size: 40%;

      &::before {
        content: "";
      }
    }
    .slick-next {
      background: url(../images/arrow-right.png) no-repeat center center;
      background-size: 40%;

      &::before {
        content: "";
      }
    }
  }
}