@import "variables.scss";

@media (min-width: 1100px) {
  .content {
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 960px) {
  .content {
    max-width: 865px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1367px){
  .node-webform {
    .webform-component {
      margin-top: 3.5rem;
      padding: 5px;
      label {
        //margin-top: 28px;
      }

      input {
        height: 19px;
        margin-top: 2px;
      }
    }
  }
}

@media (max-width: 1025px) {
  .body-inner__main {
    .content {
      padding: .5555rem;
    }
  }

  /** -- Front -- */
  .front {
    .next-event {
      .views-field-body {
        width: 70%;
      }
    }
    .slick--view--members--block {
      .slick-list {
        padding: 0 !important;
      }
    }
    .blog-front {
      .slick-list {
        padding: 0 !important;

        .slide__grid {
          .views-field-body {
            padding: 1.1111rem 0;
            line-height: 1.4375rem;
            text-align: justify;
            min-height: 9rem;
            border-top: 0.05rem rgba(217, 218, 221, 0.51) solid;
            border-bottom: 0.05rem rgba(217, 218, 221, 0.51) solid;
            font-size: 0.95rem;
            font-weight: 500;
          }
        }
      }
      .slick-prev, .slick-next{
        top: -114px;
      }
    }
  }

  .node-webform {
    .webform-component {
      label {
        margin-top: 10px;
      }
      input {
        height: 28px;
        margin-top: 9px;
      }
    }
  }
  .our-members {
    .slick__arrow {
      .slick-prev {
        background-size: 60%;
      }

      .slick-next {
        background-size: 60%;
      }
    }
  }
}

@media (max-width: 769px){
  .front {
    .blog-front {
      .slick-prev, .slick-next {
        top: 0;
      }
      .slick__arrow {
        .slick-prev {
          background-size: 80%;
        }

        .slick-next {
          background-size: 80%;
        }
      }
    }
  }


  .our-mission {
    .views-field-title {
      min-height: 45px;
    }
  }

  .node-webform {
    .webform-component {
      input {
        margin-top: 10px;
        width: 260px;
      }
    }
  }

  .get-involved {
    .views-field-body {
      min-height: 80px;
    }
  }

  .our-members {
    .slick__arrow {
      .slick-prev {
        background-size: 80%;
      }

      .slick-next {
        background-size: 80%;
      }
    }
  }
}

@media (max-width: 721px) {
  .body-inner {
    .body-inner__header {
      .menu {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 668px) {
  .body-inner {
    .body-inner__header {
      .logo img {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  .get-involved {
    .view-get-involved {
      .view-content {
        display: block;

        .views-row {
          float: none;
          margin-bottom: 50px;
          width: 100%;
        }
      }
    }
  }
  .our-mission {
    .view-content {
      display: block;

      .views-row {
        float: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 65px;

        .views-field-field-image-mission {
          margin-bottom: -30px;

          .mission-image {
            margin-top: 0;
            position: relative;
            top: -40px;
          }
        }
      }
    }
  }
}

@media (max-width: 601px) {
  .next-event {
    padding-bottom: 6.1111rem;

    .views-field-field-registration {
      width: 100px;

      .register {
        float: none;
        margin-right: 0;
        position: relative;
        top: 150px;
      }
    }
  }
}

@media (max-width: 415px) {
  .body-inner__main {
    .content {
      padding: 2.2222rem;
    }
  }
  .h1-title {
    font-size: 1.77rem;
    padding: .5555rem .5555rem .5555rem 1.9444rem;
  }
  .page-node-register {
    label {
      float: none;
      margin-bottom: 20px;
    }
  }
}
body {
  color: $white;
}
