@import "variables.scss";

@media (min-width: 1100px) {
  .content {
    max-width: 96% !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 960px) {
  .content {
    max-width: 865px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1367px){
  .node-webform {

    .webform-component {
      margin-top: 3.5rem;
      padding: 0.2777rem;

      input {
        height: 1.05555rem;
        margin-top: 0.1111rem;
      }
    }
  }
}

@media (max-width: 1025px) {
  .body-inner__main {

    .content {
      padding: 1.1111rem;
    }
  }

  /** -- Front -- */
  .front {
    .body-inner__main {

      .content {
        padding: .5555rem;
      }
    }
    .next-event {

      .views-field-body {
        width: 70%;
      }
    }
    .slick--view--members--block {

      .slick-list {
        padding: 0 !important;
      }
    }
    .blog-front {

      .slick-list {
        padding: 0 !important;

        .slide__grid {

          .views-field-body {
            padding: 1.1111rem 0;
            line-height: 1.4375rem;
            text-align: justify;
            min-height: 9rem;
            border-top: 0.05rem rgba(217, 218, 221, 0.51) solid;
            border-bottom: 0.05rem rgba(217, 218, 221, 0.51) solid;
            font-size: 0.95rem;
            font-weight: 500;
          }
        }
      }
      .slick-prev, .slick-next{
        top: -6.3333rem;
      }
    }
  }

  .node-webform {

    .webform-component {

      label {
        margin-top: 0.5555rem;
      }

      input {
        height: 1.5555rem;
        margin-top: 0.5rem;
      }
    }
  }

  .our-members {
    .slick__arrow {

      .slick-prev {
        background-size: 60%;
      }

      .slick-next {
        background-size: 60%;
      }
    }
  }
}

@media (max-width: 769px){
  .front {

    .blog-front {

      .slick-prev, .slick-next {
        top: 0;
      }

      .slick__arrow {

        .slick-prev {
          background-size: 80%;
        }

        .slick-next {
          background-size: 80%;
        }
      }
    }
  }


  .our-mission {

    .views-field-title {
      min-height: 2.5rem
    }
  }

  .node-webform {

    .webform-component {

      input {
        margin-top: 0.55555rem;
        width: rem;
      }
    }
  }

  .get-involved {

    .views-field-body {

      min-height: 4.4444rem;
    }
  }

  .our-members {

    .slick__arrow {

      .slick-prev {
        background-size: 80%;
      }

      .slick-next {
        background-size: 80%;
      }
    }
  }
}

@media (max-width: 721px) {
  .body-inner {

    .body-inner__header {

      .menu {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 668px) {
  .body-inner {

    .body-inner__header {

      .logo img {
        width: 100%;
        margin-bottom: 0.83333rem;
      }
    }
  }
  .get-involved {

    .view-get-involved {

      .view-content {
        display: block;

        .views-row {
          float: none;
          margin-bottom: 2.7778rem;
          width: 100%;
        }
      }
    }
  }
  .our-mission {

    .view-content {
      display: block;

      .views-row {
        float: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3.61111rem;

        .views-field-field-image-mission {
          margin-bottom: -1.6667rem;

          .mission-image {
            margin-top: 0;
            position: relative;
            top: -2.2222rem;
          }
        }
      }
    }
  }
}

@media (max-width: 601px) {
  .next-event {
    padding-bottom: 6.1111rem;

    .views-field-field-registration {
      width: 5.5555rem;

      .register {
        float: none;
        margin-right: 0;
        position: relative;
        top: 8.3333rem;
      }
    }
  }
}

@media (max-width: 415px) {
  .body-inner__main {
    .content {
      padding: 2.2222rem;
    }
  }
  .h1-title {
    font-size: 1.77rem;
    padding: .5555rem .5555rem .5555rem 1.9444rem;
  }
  .page-node-register {
    label {
      float: none;
      margin-bottom: 1.11111rem;
    }
  }
}

