/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables.scss";


/** --Body-- */
html {
  color: $menu;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.7rem;
  color: $menu;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 1.0625rem;
  font-weight: 700;
}

h1, h2, h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h1, h2 {
  font-family: $MuseoSans,SansSerif;
}

body {
  font-family: $MuseoSans;
}

a {
  font-size: 1em;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: $link;
  text-decoration: none;
}

p {
  line-height: 1.6rem;
}

.h1-title {
  background: $even;
  font-size: 2.5rem;
  padding-left: 1.9444rem;
  color: $menu;
  font-weight: 300;
}



.body-inner__header {
  .menu {
    margin-right: 3.3333rem;
  }
}

.body-inner {
  margin: 0 auto;


  /** --Header-- */
  .body-inner__header {
    font-family: $MuseoSans;
    height: 2.7778rem;
    padding-top: 1.3888rem;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 14px 53px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 53px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 53px -10px rgba(0,0,0,0.75);

    .logo {
      float: left;
      width: 8.667rem;
      margin-left: 3.0555rem;

      img {
        width: 8.667rem;
      }
    }
    .menu {
      float: right;
      display: inline-flex;

      .menu__item {
        list-style-image: none;
        list-style-type: none;
        padding-right: 0;

        .menu-link {
          color: $menu;
          text-decoration: none;
          text-transform: uppercase;
          font-family: $MuseoSans;
          font-weight: 500;
          margin-left: 22px;
          font-size: .9375rem;

          &:hover {
            color: $link !important;
          }

          &:active {
            color: $link !important;
          }

        }
        .join-us {
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          font-size: .875rem;
          display: inline-block;
          padding: .7rem 1.5rem .7rem;
          color: $link;
          border-style: solid;
          border-width: 0.07778rem;
          margin-top: -0.9444rem;
        }
      }
    }
  }
}

.body-inner__main {
  min-height: 65vh;
  padding-top: 8.0555rem;
}

/** --Front-- */

.front {

  .body-inner__main {
    padding-top: 0 !important;

    .region-content {
      background: $even;

      .content {
        padding: 0;
      }
    }
  }
}

/** --Footer-- */
.footer {
  padding-bottom: .9375rem;
  padding-top: 1.8125rem;
  background: #45484d;
  text-align: center;
  color: #989eac;
  font-weight: 500;
  font-size: 0.95rem;

  .copyright {
    margin: 1.75rem 4.22rem 0 4.22rem;
    padding-top: 1.3125rem;
    border-top: 1px solid #575656;
  }
  .social-icons {

    .footer-icons {
      display: flex;
      justify-content: space-between;
      width: 5rem;
      margin: 0 auto;

      .icon {
        height: 1.125rem;
        width: 1.875rem;
        background: url(../images/icons/social.png) no-repeat;
        background-size: cover;
        display: inline-block;
      }
      .facebook {
        background-position: 9px center;
      }
      .twitter {
        background-position: -28px center;
      }
      .google {
        background-position: right center;
      }
    }
  }
}

.webform-confirmation {
  margin: 1.1111rem 0;
}

