/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@font-face {
  font-family: "MuseoSans";
  src: url('http://dev-open-charity-design.pantheonsite.io/sites/all/themes/razum/fonts/MuseoSans-300.otf')format('opentype'),
  url('http://dev-open-charity-design.pantheonsite.io/sites/all/themes/razum/fonts/MuseoSans_500.otf')format('opentype'),
  url('http://dev-open-charity-design.pantheonsite.io/sites/all/themes/razum/fonts/MuseoSans_700.otf')format('opentype');
  src: url('../fonts/OpenSans-Bold.ttf')format('ttf'),
  url('../fonts/OpenSans-BoldItalic.ttf')format('ttf'),
  url('../fonts/OpenSans-CondBold.ttf')format('ttf'),
  url('../fonts/OpenSans-CondLight.ttf')format('ttf'),
  url('../fonts/OpenSans-CondLightItalic.ttf')format('ttf'),
  url('../fonts/OpenSans-ExtraBold.ttf')format('ttf'),
  url('../fonts/OpenSans-ExtraBoldItalic.ttf')format('ttf'),
  url('../fonts/OpenSans-Italic.ttf')format('ttf'),
  url('../fonts/OpenSans-Light.ttf')format('ttf'),
  url('../fonts/OpenSans-LightItalic.ttf')format('ttf'),
  url('../fonts/OpenSans-Regular.ttf')format('ttf'),
  url('../fonts/OpenSans-Semibold.ttf')format('ttf'),
  url('../fonts/OpenSans-SemiboldItalic.ttf')format('ttf');
}


/** --$variables-- */
$link: #61c0bd;
$menu: #575656;
$content: #5b6172;
$MuseoSans: MuseoSans;

/** --Body-- */
body {
  font-family: $MuseoSans;
}
  a {
    font-size: 1em;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

.body-inner {
  margin: 0 auto;

  /** --Header-- */
  .body-inner__header {
    font-family: $MuseoSans;
    height: 200px;
    padding-top: 40px;
    .logo {
      float: left;
      width: 156px;
      margin-left: 85px;
    }
    .menu {
      float: right;
      display: inline-flex;
      margin-right: 80px;
      .menu__item {
        list-style-image: none;
        list-style-type: none;
      }
      a {
        color: $menu;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $MuseoSans;

        &:hover {
          color: $link !important;
        }
      }

    }
  }
}

