/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



/** --$variables-- */
$link: #61c0bd;
$menu: #575656;
$content: #5b6172;
$MuseoSans: 'MuseoSans';

/** --Body-- */
body {
  font-family: $MuseoSans;
}
  a {
    font-size: 1em;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

.body-inner {
  margin: 0 auto;

  /** --Header-- */
  .body-inner__header {
    font-family: $MuseoSans;
    height: 200px;
    padding-top: 40px;
    .logo {
      float: left;
      width: 156px;
      margin-left: 85px;
    }
    .menu {
      float: right;
      display: inline-flex;
      margin-right: 80px;
      .menu__item {
        list-style-image: none;
        list-style-type: none;
      }
      a {
        color: $menu;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $MuseoSans;

        &:hover {
          color: $link !important;
        }
      }

    }
  }
}

