/** -- Registration -- */
/* line 5, ../sass/registration.scss */
.page-node-register label {
  float: left;
  width: 11.5555rem;
}
/* line 10, ../sass/registration.scss */
.page-node-register .description {
  margin-top: .7rem;
}
/* line 14, ../sass/registration.scss */
.page-node-register .form-item-who-is-registering {
  margin: 2.2222rem 0;
}
/* line 17, ../sass/registration.scss */
.page-node-register .form-item-who-is-registering .form-select {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: .875rem;
  display: inline-block;
  padding: .7rem 1.5rem .7rem;
  color: #61c0bd;
  border-style: solid;
  border-width: 0.07778rem;
  margin-top: -17px;
  background: #fff;
  cursor: pointer;
}
/* line 33, ../sass/registration.scss */
.page-node-register .form-item-state {
  margin: 2.2222rem 0;
}
/* line 36, ../sass/registration.scss */
.page-node-register .form-item-state .form-select {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: .875rem;
  display: inline-block;
  padding: .7rem 1.5rem .7rem;
  color: #61c0bd;
  border-style: solid;
  border-width: 0.07778rem;
  margin-top: -17px;
  background: #fff;
  cursor: pointer;
}
/* line 52, ../sass/registration.scss */
.page-node-register .form-item-count {
  min-height: 74px;
}
/* line 55, ../sass/registration.scss */
.page-node-register .form-item-count .form-text {
  padding: 8px;
  margin-top: -8px;
}
/* line 62, ../sass/registration.scss */
.page-node-register .form-actions .form-submit {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: .875rem;
  display: inline-block;
  padding: 0.5rem 1.5rem .5rem;
  color: #fff;
  border-style: solid;
  border-width: 0.07778rem;
  border-color: #61c0bd;
  margin-top: -17px;
  background-color: #61c0bd;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 0.8rem;
  cursor: pointer;
}
