/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** --Body-- */
/* line 11, ../sass/screen.scss */
html {
  color: #575656;
}

/* line 15, ../sass/screen.scss */
h1 {
  text-transform: uppercase;
}

/* line 19, ../sass/screen.scss */
h2 {
  font-size: 25px;
  font-size: 1.7rem;
  color: #575656;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 28, ../sass/screen.scss */
h3 {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
}

/* line 34, ../sass/screen.scss */
h1, h2, h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* line 39, ../sass/screen.scss */
h1, h2 {
  font-family: "MuseoSans", SansSerif;
}

/* line 43, ../sass/screen.scss */
body {
  font-family: "MuseoSans";
}

/* line 47, ../sass/screen.scss */
a {
  font-size: 1em;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #61c0bd;
  text-decoration: none;
}

/* line 57, ../sass/screen.scss */
p {
  line-height: 1.6rem;
}

/* line 61, ../sass/screen.scss */
.h1-title {
  background: #f2f2f2;
  font-size: 2.5rem;
  padding-left: 1.9444rem;
  color: #575656;
  font-weight: 300;
}

/** --Front-- */
/* line 73, ../sass/screen.scss */
.front .body-inner__main {
  padding-top: 0 !important;
}
/* line 76, ../sass/screen.scss */
.front .body-inner__main .region-content {
  background: #f2f2f2;
}
/* line 79, ../sass/screen.scss */
.front .body-inner__main .region-content .content {
  padding: 0;
}

/* line 87, ../sass/screen.scss */
.body-inner__header .menu {
  margin-right: 60px;
}

/* line 92, ../sass/screen.scss */
.body-inner {
  margin: 0 auto;
  /** --Header-- */
}
/* line 97, ../sass/screen.scss */
.body-inner .body-inner__header {
  font-family: "MuseoSans";
  height: 50px;
  padding-top: 25px;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0px 14px 53px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 53px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 53px -10px rgba(0, 0, 0, 0.75);
}
/* line 109, ../sass/screen.scss */
.body-inner .body-inner__header .logo {
  float: left;
  width: 156px;
  margin-left: 55px;
}
/* line 114, ../sass/screen.scss */
.body-inner .body-inner__header .logo img {
  width: 156px;
}
/* line 118, ../sass/screen.scss */
.body-inner .body-inner__header .menu {
  float: right;
  display: inline-flex;
}
/* line 122, ../sass/screen.scss */
.body-inner .body-inner__header .menu .menu__item {
  list-style-image: none;
  list-style-type: none;
  padding-right: 0;
}
/* line 127, ../sass/screen.scss */
.body-inner .body-inner__header .menu .menu__item .menu-link {
  color: #575656;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "MuseoSans";
  font-weight: 500;
  margin-left: 22px;
  font-size: .9375rem;
}
/* line 136, ../sass/screen.scss */
.body-inner .body-inner__header .menu .menu__item .menu-link:hover {
  color: #61c0bd !important;
}
/* line 140, ../sass/screen.scss */
.body-inner .body-inner__header .menu .menu__item .menu-link:active {
  color: #61c0bd !important;
}
/* line 145, ../sass/screen.scss */
.body-inner .body-inner__header .menu .menu__item .join-us {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: .875rem;
  display: inline-block;
  padding: .7rem 1.5rem .7rem;
  color: #61c0bd;
  border-style: solid;
  border-width: 0.07778rem;
  margin-top: -17px;
}

/** --Region content on Front-- */
/* line 167, ../sass/screen.scss */
.front .body-inner__main {
  min-height: 65vh;
  padding-top: 145px;
}

/** --Intro Banner-- */
/* line 175, ../sass/screen.scss */
.intro-banner {
  padding-bottom: 5.1875rem;
  padding-top: 3.625rem;
  background: url(../images/hero.jpg) top no-repeat fixed;
  background-size: cover;
}
/* line 181, ../sass/screen.scss */
.intro-banner .region-intro-banner {
  margin-top: 110px;
}
/* line 186, ../sass/screen.scss */
.intro-banner .intro-block {
  text-align: center;
  color: #fff;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 0.73);
}
/* line 191, ../sass/screen.scss */
.intro-banner .intro-block .intro-block__division {
  font-size: 1.125rem;
}
/* line 194, ../sass/screen.scss */
.intro-banner .intro-block .intro-block__division .intro-title {
  letter-spacing: -0.1rem;
  font-size: 3.5rem;
  color: #fff;
  font-weight: 300;
}
/* line 200, ../sass/screen.scss */
.intro-banner .intro-block .intro-block__division .first-paragraph {
  line-height: 33px;
  line-height: 2.0625rem;
  margin-bottom: 1.3125rem;
  max-width: 635px;
  max-width: 39.6875rem;
  padding-top: .1875rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 210, ../sass/screen.scss */
.intro-banner .intro-block .intro-block__division .second-paragraph {
  font-size: 15px;
  font-size: .9375rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 600px;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 221, ../sass/screen.scss */
.intro-banner .intro-block .intro-block__division .third-paragraph {
  font-size: 18px;
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
}

/** --Next Event-- */
/* line 233, ../sass/screen.scss */
.next-event-block {
  background: #f2f2f2;
}

/* line 237, ../sass/screen.scss */
.next-event {
  background: #f2f2f2;
  padding: 30px 0 30px 50px;
  font-weight: 700;
  color: #575656;
  line-height: 1.6rem;
}
/* line 244, ../sass/screen.scss */
.next-event .next-event__title {
  color: #61c0bd;
  font-weight: 700;
  font-size: 1.1rem;
  float: left;
}
/* line 250, ../sass/screen.scss */
.next-event .date-display-single {
  float: left;
  margin-left: 5px;
}
/* line 254, ../sass/screen.scss */
.next-event .views-field-field-time {
  float: left;
  margin-left: 10px;
}
/* line 258, ../sass/screen.scss */
.next-event .register {
  float: right;
  margin-right: 60px;
  position: relative;
  top: 15px;
}
/* line 264, ../sass/screen.scss */
.next-event .register a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: .875rem;
  display: inline-block;
  padding: 0.5rem 1.5rem .5rem;
  color: #fff;
  border-style: solid;
  border-width: 0.07778rem;
  border-color: #61c0bd;
  margin-top: -17px;
  background-color: #61c0bd;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 282, ../sass/screen.scss */
.next-event .views-field-body {
  clear: both;
  font-weight: 500;
  font-size: .95rem;
}

/** --Get Involved-- */
/* line 291, ../sass/screen.scss */
.get-involved {
  margin: 2.2222rem 0;
}
/* line 294, ../sass/screen.scss */
.get-involved .view-get-involved {
  margin-top: 40px;
  margin-top: 2.2222rem;
}
/* line 297, ../sass/screen.scss */
.get-involved .view-get-involved .view-content {
  display: flex;
  justify-content: space-between;
}
/* line 301, ../sass/screen.scss */
.get-involved .view-get-involved .view-content .views-row {
  float: left;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}
/* line 307, ../sass/screen.scss */
.get-involved .view-get-involved .view-content .views-row .views-field-title {
  margin: 25px 0;
}
/* line 310, ../sass/screen.scss */
.get-involved .view-get-involved .view-content .views-row .views-field-field-image-inv {
  width: 140px;
  margin: 0 auto;
}
/* line 314, ../sass/screen.scss */
.get-involved .view-get-involved .view-content .views-row .views-field-field-image-inv img {
  height: 108px;
  height: 6.75rem;
  width: auto;
}
/* line 320, ../sass/screen.scss */
.get-involved .view-get-involved .view-content .views-row .views-field-body {
  line-height: 1.5rem;
  font-weight: 500;
  font-size: .95rem;
  letter-spacing: -0.009rem;
}
/* line 326, ../sass/screen.scss */
.get-involved .view-get-involved .view-content .views-row .link-to-content {
  margin-top: 20px;
}
/* line 329, ../sass/screen.scss */
.get-involved .view-get-involved .view-content .views-row .link-to-content a {
  width: 9rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: .875rem;
  display: inline-block;
  padding: 0.8rem 1.5rem .8rem;
  color: #61c0bd;
  border-style: solid;
  border-width: 0.07778rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/** --Our Mission-- */
/* line 352, ../sass/screen.scss */
.our-mission {
  padding-top: 1.1111rem;
  margin: 0 4.4444rem;
}
/* line 356, ../sass/screen.scss */
.our-mission .view-header {
  text-align: center;
}
/* line 359, ../sass/screen.scss */
.our-mission .bottom-description {
  letter-spacing: -0.009rem;
  font-size: 1.0625rem;
  margin-top: 1.625rem;
  font-family: "MuseoSans";
  font-weight: 500;
}
/* line 366, ../sass/screen.scss */
.our-mission .view-content {
  margin-top: 2.7778rem;
  display: flex;
  justify-content: space-between;
  padding-top: 2.875rem;
  padding-bottom: 2.875rem;
  border-bottom: 0.07778rem rgba(217, 218, 221, 0.72) solid;
}
/* line 374, ../sass/screen.scss */
.our-mission .view-content .views-row {
  float: left;
  width: 30%;
  text-align: center;
  padding: 0 1.25rem 1.8125rem;
  background: #fff;
}
/* line 381, ../sass/screen.scss */
.our-mission .view-content .views-row .mission-image {
  border-radius: 50%;
  border-width: .625rem;
  height: auto;
  margin-top: -3.125rem;
  width: 4.4445rem;
  border-color: #fff;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}
/* line 392, ../sass/screen.scss */
.our-mission .view-content .views-row .views-field-title {
  margin-top: .375rem;
  margin-bottom: .875rem;
  color: #61c0bd;
  font-weight: 700;
}
/* line 398, ../sass/screen.scss */
.our-mission .view-content .views-row .field-content {
  line-height: 1.4375rem;
  letter-spacing: -0.009rem;
}
/* line 403, ../sass/screen.scss */
.our-mission .view-content .views-row-2 {
  margin: 0 1.9rem;
}

/* line 409, ../sass/screen.scss */
.members {
  background: #f2f2f2;
  padding-top: 2.2222rem;
  padding-bottom: 2.2222rem;
}

/** --Our Members-- */
/* line 417, ../sass/screen.scss */
.our-members .slick-list {
  margin: 2.2222rem 0;
}
/* line 420, ../sass/screen.scss */
.our-members .slick-list .slick__slide {
  height: 5rem;
  position: relative;
}
/* line 424, ../sass/screen.scss */
.our-members .slick-list .slick__slide img {
  max-width: 9rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  max-height: 100%;
  position: absolute;
  top: 2.51111rem;
  width: auto;
}
/* line 439, ../sass/screen.scss */
.our-members .slick__arrow .slick-prev {
  background: url(../images/arrow-left.png) no-repeat center center;
  background-size: 40%;
}
/* line 443, ../sass/screen.scss */
.our-members .slick__arrow .slick-prev::before {
  content: "";
}
/* line 447, ../sass/screen.scss */
.our-members .slick__arrow .slick-next {
  background: url(../images/arrow-right.png) no-repeat center center;
  background-size: 40%;
}
/* line 451, ../sass/screen.scss */
.our-members .slick__arrow .slick-next::before {
  content: "";
}

/** --Blog--*/
/* line 458, ../sass/screen.scss */
.blog-front {
  margin-top: 1.7555rem;
  margin-bottom: 2.2222rem;
}
/* line 461, ../sass/screen.scss */
.blog-front .slide__grid {
  margin: 0 20px;
}
/* line 464, ../sass/screen.scss */
.blog-front .slide__grid .views-field-title {
  font-weight: 700;
  margin-top: 1.1111rem;
  margin-bottom: 0.5555rem;
}
/* line 468, ../sass/screen.scss */
.blog-front .slide__grid .views-field-title a {
  color: #61c0bd;
  text-decoration: none;
}
/* line 473, ../sass/screen.scss */
.blog-front .slide__grid .views-field-body {
  padding: 1.1111rem 0;
  line-height: 1.4375rem;
  text-align: justify;
  min-height: 15rem;
  border-top: 0.05rem rgba(217, 218, 221, 0.51) solid;
  border-bottom: 0.05rem rgba(217, 218, 221, 0.51) solid;
  font-size: 0.95rem;
  font-weight: 500;
}
/* line 483, ../sass/screen.scss */
.blog-front .slide__grid .views-field-field-date {
  margin-top: 1.3888rem;
  font-size: 0.95rem;
  font-weight: 500;
}
/* line 490, ../sass/screen.scss */
.blog-front .slick--view--blog .slick-list {
  margin: 0 2rem;
}
/* line 494, ../sass/screen.scss */
.blog-front .slick--view--blog .slick__arrow .slick-prev {
  background: url("../images/arrow-left.png") no-repeat center center;
  background-size: 40%;
}
/* line 498, ../sass/screen.scss */
.blog-front .slick--view--blog .slick__arrow .slick-prev::before {
  content: "";
}
/* line 503, ../sass/screen.scss */
.blog-front .slick--view--blog .slick__arrow .slick-next {
  background: url("../images/arrow-right.png") no-repeat center center;
  background-size: 40%;
}
/* line 507, ../sass/screen.scss */
.blog-front .slick--view--blog .slick__arrow .slick-next::before {
  content: "";
}

/** --Footer-- */
/* line 515, ../sass/screen.scss */
.footer {
  padding-bottom: .9375rem;
  padding-top: 1.8125rem;
  background: #45484d;
  text-align: center;
  color: #989eac;
  font-weight: 500;
  font-size: 0.95rem;
}
/* line 524, ../sass/screen.scss */
.footer .copyright {
  margin: 1.75rem 4.22rem 0 4.22rem;
  padding-top: 1.3125rem;
  border-top: 1px solid #575656;
}
/* line 531, ../sass/screen.scss */
.footer .social-icons .footer-icons {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin: 0 auto;
}
/* line 537, ../sass/screen.scss */
.footer .social-icons .footer-icons .icon {
  height: 18px;
  height: 1.125rem;
  width: 30px;
  width: 1.875rem;
  background: url(../images/icons/social.png) no-repeat;
  background-size: cover;
  display: inline-block;
}
/* line 546, ../sass/screen.scss */
.footer .social-icons .footer-icons .facebook {
  background-position: 9px center;
}
/* line 549, ../sass/screen.scss */
.footer .social-icons .footer-icons .twitter {
  background-position: -28px center;
}
/* line 552, ../sass/screen.scss */
.footer .social-icons .footer-icons .google {
  background-position: right center;
}

/* line 559, ../sass/screen.scss */
.webform-confirmation {
  margin: 1.1111rem 0;
}
