/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../home/seorus/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "MuseoSans";
  src: url("http://dev-open-charity-design.pantheonsite.io/sites/all/themes/razum/fonts/MuseoSans-300.otf") format("opentype"), url("http://dev-open-charity-design.pantheonsite.io/sites/all/themes/razum/fonts/MuseoSans_500.otf") format("opentype"), url("http://dev-open-charity-design.pantheonsite.io/sites/all/themes/razum/fonts/MuseoSans_700.otf") format("opentype");
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf"), url("../fonts/OpenSans-BoldItalic.ttf") format("ttf"), url("../fonts/OpenSans-CondBold.ttf") format("ttf"), url("../fonts/OpenSans-CondLight.ttf") format("ttf"), url("../fonts/OpenSans-CondLightItalic.ttf") format("ttf"), url("../fonts/OpenSans-ExtraBold.ttf") format("ttf"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("ttf"), url("../fonts/OpenSans-Italic.ttf") format("ttf"), url("../fonts/OpenSans-Light.ttf") format("ttf"), url("../fonts/OpenSans-LightItalic.ttf") format("ttf"), url("../fonts/OpenSans-Regular.ttf") format("ttf"), url("../fonts/OpenSans-Semibold.ttf") format("ttf"), url("../fonts/OpenSans-SemiboldItalic.ttf") format("ttf");
}
/** --$variables-- */
/** --Body-- */
/* line 35, ../sass/screen.scss */
body {
  font-family: MuseoSans;
}

/* line 38, ../sass/screen.scss */
a {
  font-size: 1em;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 46, ../sass/screen.scss */
.body-inner {
  margin: 0 auto;
  /** --Header-- */
}
/* line 50, ../sass/screen.scss */
.body-inner .body-inner__header {
  font-family: MuseoSans;
  height: 200px;
  padding-top: 40px;
}
/* line 54, ../sass/screen.scss */
.body-inner .body-inner__header .logo {
  float: left;
  width: 156px;
  margin-left: 85px;
}
/* line 59, ../sass/screen.scss */
.body-inner .body-inner__header .menu {
  float: right;
  display: inline-flex;
  margin-right: 80px;
}
/* line 63, ../sass/screen.scss */
.body-inner .body-inner__header .menu .menu__item {
  list-style-image: none;
  list-style-type: none;
}
/* line 67, ../sass/screen.scss */
.body-inner .body-inner__header .menu a {
  color: #575656;
  text-decoration: none;
  text-transform: uppercase;
  font-family: MuseoSans;
}
/* line 73, ../sass/screen.scss */
.body-inner .body-inner__header .menu a:hover {
  color: #61c0bd !important;
}
